h1 {
  color:green;
  font-style: italic;
}

.error, .success {
  margin: 15px 0 15px 0;
}
.error, .error div {
  padding: 5px 0 10px 10px;
    border: 3px rgb(231, 42, 42) solid;
    border-radius: 5px;
    font-size: 30px;
    background-color:rgb(221, 154, 142);
    color: black;
    vertical-align: middle;
    max-width: 800px;
}

.success, .success div  {
    padding: 5px 0 10px 10px;
    border: 3px green solid;
    border-radius: 5px;
    font-size: 30px;
    background-color:rgb(168, 255, 200);
    color: black;
    vertical-align: middle;
    max-width: 800px;
}